<?xml version="1.0" encoding="utf-8" standalone="no"?>
<plugin name="openArchitectureWare User Guide" id="org.openarchitectureware.help.userguide" version="4.3.0.20080508-1430PRD" provider-name="openArchitectureWare.org">
   <extension point="org.eclipse.help.toc">
      <toc file="toc.xml" primary="true"/>
   </extension>
    
   <extension
   	  point="org.eclipse.ui.intro.configExtension">
   	  <configExtension
         configId="org.eclipse.ui.intro.universalConfig"
         content="intro/overviewExtensionContext.xml">
      </configExtension>
   	  <configExtension
         configId="org.eclipse.ui.intro.universalConfig"
         content="intro/newsExtensionContext.xml">
   	  </configExtension>
   	  <configExtension
         configId="org.eclipse.ui.intro.universalConfig"
         content="intro/tutorialsExtensionContext.xml">
   	  </configExtension> 
   </extension>
   <extension
   	  point="org.eclipse.ui.cheatsheets.cheatSheetContent">
   	  <category
         id="org.openarchitectureware"
         name="openArchitectureWare"/>
   	  <cheatsheet
         category="org.openarchitectureware"
         composite="false"
         contentFile="$nl$/cheatsheets/CreatingAnOAWProject.xml"
         id="org.openarchitectureware.create.project.oaw"
         name="Creating an oAW generator project">
   	  </cheatsheet>
   </extension>
   
	</plugin>