<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated qaconfig -->
      <package
            uri="http://qasvariabilitymodel/qasvariabilitymodel"
            class="qasvariabilitymodel.QasvariabilitymodelPackage"
            genModel="metamodels/qaconfig.genmodel"/>
   </extension>

</plugin>
