<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated domainMetamodel -->
      <package
            uri="http://domainmetamodel/1.0"
            class="domainmetamodel.DomainmetamodelPackage"
            genModel="metamodels/DomainMetamodel.genmodel"/>
   </extension>

</plugin>
