<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ProblemSpaceMetamodel -->
      <package
            uri="http://domainmetamodel"
            class="domainmetamodel.DomainmetamodelPackage"
            genModel="metamodels/ProblemSpaceMetamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated KernelMetamodel -->
      <package
            uri="http://kernelmetamodel"
            class="kernelmetamodel.KernelmetamodelPackage"
            genModel="metamodels/KernelMetamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GUIMetamodel -->
      <package
            uri="http://guimetamodel"
            class="guimetamodel.GuimetamodelPackage"
            genModel="metamodels/GUIMetamodel.genmodel"/>
   </extension>

</plugin>
