<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated problemSpace -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="problemSpaceMetamodel.presentation.ProblemSpaceMetamodelModelWizardID"
            name="%_UI_ProblemSpaceMetamodelModelWizard_label"
            class="problemSpaceMetamodel.presentation.ProblemSpaceMetamodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ProblemSpaceMetamodelModelFile.gif">
         <description>%_UI_ProblemSpaceMetamodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated problemSpace -->
      <editor
            id="problemSpaceMetamodel.presentation.ProblemSpaceMetamodelEditorID"
            name="%_UI_ProblemSpaceMetamodelEditor_label"
            icon="icons/full/obj16/ProblemSpaceMetamodelModelFile.gif"
            extensions="problemspacemetamodel"
            class="problemSpaceMetamodel.presentation.ProblemSpaceMetamodelEditor"
            contributorClass="problemSpaceMetamodel.presentation.ProblemSpaceMetamodelActionBarContributor">
      </editor>
   </extension>

</plugin>
